name: CI

on: [push, pull_request]

jobs:
    format:
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v4
            - name: Set up clang-format
              run: sudo apt-get install clang-format
            - name: Run clang-format
              run: clang-format -i -style=file $(find . -name '*.c' -or -name '*.cc' -or -name '*.cpp' -or -name '*.cxx' -or -name '*.h' -or -name '*.hh' -or -name '*.hxx' -or -name '*.hpp')
            - name: Check for changes
              run: git diff --exit-code
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v4
            - name: Configure
              run: cmake -B build -S .
            - name: Build
              run: cmake --build build
            - name: Test
              run: |
                cd build
                ctest --output-on-failure
    code-coverage:
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v4
            - name: Configure
              run: cmake -B build -S . -DCMAKE_BUILD_TYPE=Debug -DCOVERAGE=ON
            - name: Build
              run: cmake --build build
            - name: Test
              run: |
                cd build
                make
                make coverage_xml
                make coverage_html
            - name: Upload coverage
              uses: actions/upload-artifact@v4
              with:
                name: coverage
                path: build/coverage_html
